.checkSlide {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    &:checked~label {
      background: #00B37A;
    }

    &:checked~label:before {
      left: 24px;
    }
  }

  label {
    display: block;
    width: 47px;
    height: 28px;
    background: $bgcolor3;
    border-radius: 18px;
    position: relative;
    @include transition;

    &::before {
      position: absolute;
      left: 3px;
      top: 50%;
      @include transformY;
      background: $white;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      @include transition;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: $text;
  font-family: $font_main;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;
  @include transition;

  .left {
    margin-right: 10px;

  }

  .right {
    margin-left: 10px;
    height: auto;
    width: 25px;
  }

  &--primary {
    color: $white;
    padding-left: 44px;
    padding-right: 44px;
    background: $main;
    border: 1px solid $main;
  }

  &--outline {
    color: $main;
    padding-left: 38px;
    padding-right: 38px;
    background: transparent;
    border: 1px solid $main;

    &:hover {
      border-color: $main;
    }
  }

  &--secondary {
    color: $main;
    padding-right: 30px;
    padding-left: 30px;
    background-color: $bgcolor3;
    border: 1px solid $bgcolor3;

    &:hover {
      // color: $main;
      // border: 1px solid $main;
    }
  }

  &:hover {
    box-shadow: 0 4px 15px rgba($color: $main, $alpha: 0.45);
  }
}

.checkbox {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  label {
    display: block;
    position: relative;
    padding-left: 30px;

    &::before {
      border: 2px solid #B6BAC8;
      border-radius: 3.75px;
      width: 14px;
      height: 14px;
      left: 5px;
      top: 10%;
      position: absolute;
      content: "";
      @include transition;
    }

    &::after {
      position: absolute;
      content: "";
      top: calc(10% + 3px);
      transform: rotate(45deg);
      height: 8px;
      width: 3px;
      left: 11px;
      border-bottom: 2px solid $bgcolor;
      border-right: 2px solid $bgcolor;
      opacity: 0;
      @include transition;
    }
  }

  input:checked {
    &~label::after {
      opacity: 1;
    }

    &~label::before {
      background: $main;
      border-color: $main;
    }
  }
}

.radiobutton{
    cursor: pointer;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 15px 15px 15px 52px;
    color: $text3;
    font-family: $font_mainSans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid $border-color3;
    border-radius: 10px;
    @include transition;

    &::before {
      @include contentAbsolute;
      box-sizing: border-box;
      border: 3px solid $border-color;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      left: 26px;
      top: 50%;
      @include transform;
      @include transition;
      transition-property: border-color;

    }

    &::after {
      @include contentAbsolute;
      box-sizing: border-box;
      top: 50%;
      left: 26px;
      height: 11px;
      width: 11px;
      border-radius: 50%;
      background: $main;
      opacity: 0;
      @include transform;
      @include transition;
      transition-property: opacity;
    }

    
  &:hover{
      background: rgba($color: $main, $alpha: 10%);
      // border-color: $main;
      
      &::before {
        border-color: $main;
      }
  }
  &.active {
      color: $main;
      background: rgba($color: $main, $alpha: 10%);
      border-color: $main;

      &::after {
        opacity: 1;
      }

      &::before {
        border-color: $main;
      }

  }
}

.input {

  &__outer {
    position: relative;
    &.icoRight{
      input{
        padding: 14px 45px 14px 25px;
      }
    }
    &.btnRight{
      input{
        padding: 14px 95px 14px 25px;
      }
    }
    input {
      box-sizing: border-box;
      width: 100%;
      background: $bgcolor2;
      border: 1px solid $border-color;
      border-radius: 10px;
      padding: 14px 25px ;
      color: $text;
      font-family: $font_main;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 1;
      @include transition;
      transition-property: border-color;

      &:focus {
        border-color: $main;
      }

      &::placeholder {
        color: $text;
        font-family: $font_main;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
      }
    }

    svg {
      position: absolute;
      color: $main;
      right: 20px;
      top: 50%;
      max-height: 50%;
      width: auto;
      @include transformY;
      &.sm{
        width: 20px;
        height: auto;
      }
    }
    button{
      position: absolute;
      right: 20px;
      top: 50%;
      @include transformY;
      color: $main;
      font-family: $font_main;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      @include transition;
      &:hover{
        opacity: .7;
      }
    }
  }

  &__item {

    label {
      display: block;
      color: $text3;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 15px;
    }

    .message {
      display: none;
      margin-top: 15px;

      label {
        position: relative;
        font-family: $font_main;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        padding-left: 25px;

        &::before {
          @include contentAbsolute;
          left: 2px;
          top: 5px;
          width: 18px;
          height: 18px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

    }

    &.error {
      .message {
        display: block;

        label {
          color: $error;

          &::before {
            background-image: url(../images/icons/error.svg);
          }
        }
      }

      svg {
        color: $error;
      }

      input {
        border-color: $error;
      }
    }

    &.success {
      .message {
        display: block;

        label {
          color: $success;

          &::before {
            background-image: url(../images/icons/success.svg);
          }
        }
      }

      svg {
        color: $success;
      }

      input {
        border-color: $success;
      }
    }
  }



}

.customInput {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border-radius: 100px;
    background: $bgcolor2;
    padding: 16px 20px;
    font-family: $font_main;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $text2;

    &:not(:placeholder-shown)+button {
      padding: 0 10px;
    }

  }

  &.img--left {
    img {
      top: 50%;
      left: 17px;
      height: 20px;
      width: auto;
      max-width: 30px;
      @include transformY;
    }

    input {
      padding-left: 50px;
    }
  }

  img {
    position: absolute;
  }

  button {
    position: absolute;
    color: $text;
    top: 50%;
    right: 5px;
    height: calc(100% - 10px);
    background: $main;
    font-family: $font_main;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1;
    padding: 0 38px;
    border-radius: 60px;
    @include transformY;
    @include transition;

    &:hover {
      background: rgba($color: $main, $alpha: 60%);
    }
  }
}

.switch {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba($diffRGB, 7%);
  overflow: hidden;
  @include transition;

  &:hover {
    background: rgba($diffRGB, 20%);
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &:checked~label::before {
      opacity: 0;
    }

    &:checked~label::after {
      opacity: 1;
    }
  }



  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 60%;
      @include transform;
      content: "";

      background: url(../images/icons/day.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @include transition;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform;
      width: 60%;
      @include transition;
      height: 60%;
      content: "";
      opacity: 0;

      background: url(../images/icons/night.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.aloneCard {
  padding: 120px 0;
  min-height: 100vh;
  box-sizing: border-box;

  &.bg--grd {
    background: rgba($diffRGB, 8%);
    background: linear-gradient(96.47deg, #362B49 -10.78%, #211F30 25.12%, #172447 110.03%);

    @include lightIn {
      background: rgba($diffRGB, 8%);
      background: linear-gradient(101.03deg, #F1FBFF -3.21%, #FFFFFF 38.25%, #FAFFE9 136.3%);
    }
  }

  &__inner {
    margin: 0 auto;
    background: $bgcolor;
    max-width: 625px;
    width: 100%;
    border-radius: 25px;
    padding: 45px 40px;
    box-sizing: border-box;
    box-shadow: 0 1px 32px rgba(0, 0, 0, 3%);

    @include lightIn {
      border: 1px solid #E6E6E8;
    }
  }

}

.profilePhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid $gray;
  border-radius: 6px;
  overflow: hidden;

  img {
    @include fullImage;
  }

  &__outer {
    .title {
      color: $text;
      font-family: $font_main;
      font-style: normal;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 0.2px;
    }
  }
}

.profileStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btns {
    display: flex;
    align-items: center;

    .buttonCircle {
      margin-right: 20px;

    }
  }

}

.link {
  &--primary {
    color: $main;
    font-family: $font_main;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 1;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }
}

.buttonCircle {
  display: flex;
  align-items: center;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;

    img {
      width: 70%;
    }

    &.light {
      background: rgba($color: #BEBEBE, $alpha: 15%);
    }

    &.orange {
      background: rgba($color: #FFB26A, $alpha: 15%);
    }
  }

  &__text {
    margin-left: 6px;
    color: $text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}

.dateBox {
  position: relative;
  padding-left: 55px;
  color: $text2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  min-height: 42px;


  span {
    display: block;
    color: $text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  &::before {
    @include contentAbsolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 4px;
    background: url('../images/dashboard/icons/clock.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55%;
  }
}

@include light {
  .logo {
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(191.31deg,
        #464961 17.14%,
        #417d8e 46.62%,
        #3bbec6 83.41%);
  }
}

.placeholder {
  width: 70%;
  display: block;
  height: 10px;
  width: 100%;
  background-color: $border-color;
  border-radius: 100px;

  &.sm {
    width: 30%;
  }

  &.fluid {
    background-color: rgba($color: #434251, $alpha: 45%);

    &:nth-of-type(odd) {
      width: 90%;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    padding: 0 30px;
    margin: 0 -8px;
  }

  &__column {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    height: 110px;
    width: calc(100% / 4 - 16px);
    margin: 0 8px;
    background-color: rgba($color: #434251, $alpha: 45%);
    border-radius: 15px;
    padding: 15px 10px;

    .placeholder {
      width: 100%;
    }
  }

  &__outer {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0px;
    }

    &:nth-child(even) {
      width: 90%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  font-weight: 700;
  line-height: 120%;
}

/* Typography */
h1 {
  font-size: 54px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 36px;

  &.sm {
    font-weight: 800;
    font-size: 30px;
  }
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 19px;
}

p {
  color: $text2;
  font-size: 18px;
  line-height: 145%;

  &.sm {
    font-size: 16px;
  }

  &.lg {
    font-size: 20px;
  }
}


////// animations 

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
