.nav {
  display: flex;
  align-items: center;
  margin-left: 0;

  &__link {
    display: block;
    color: $text2;
    font-family: $font_main;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 1;
    padding: 10px 15px;
    @include transition;
    box-sizing: border-box;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      color: $text;
    }
  }

  &__dropdown {
    cursor: pointer;
    position: relative;

    &:hover {
      .nav__dropdown-title {
        opacity: 0.7;
      }
    }

    &-title {
      color: $text2;
      font-family: $font_main;
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 1;
      padding: 10px 15px;
      @include transition;

      span {
        display: inline-block;
        margin-left: 10px;
        @include transition;
      }
    }

    &-content {
      display: block;
      position: absolute;
      border-radius: 5px;
      background: $bgcolor2;
      z-index: 1;
      opacity: 0;
      top: calc(100% + 10px);
      width: 0;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      @include transition;
      transition-property: top, opacity;

      .nav__link {
        padding: 15px;

        &:hover {
          background: $bgcolor;
          opacity: 1;
        }
      }
    }

    &:hover {
      .nav__dropdown {
        &-content {
          display: block;
          left: 0;
          top: 100%;
          width: max-content;
          box-shadow: 0 4px 15px rgba(0,0,0,.2);
          max-height: 600px;
          opacity: 1;
        }

        &-title {
          opacity: 0.7;

          span {
            @include rotate180deg;
          }
        }
      }
    }
  }
}


.navSidebar {
  width: 100%;
  padding: 10px 0;

  &__item {
    cursor: pointer;
    color: $text2;
    position: relative;
    padding: 15px 15px 15px 30px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    @include transition;

    &:before{
      @include contentAbsolute;
      background: $main;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      opacity: 0;
      @include transition;
    }
    &:hover{
      color: $text;
      background: rgba($color: #9BA3C2, $alpha: 18%);
      &:before{
        opacity: 1;
        background: rgba($color: $main, $alpha: 50%);;
      }
    }
    &.active{
      color: $text;
      background: rgba($color: #9BA3C2, $alpha: 18%);
      &:before{
        opacity: 1;
        background: $main;
      }
    }

    &-ico {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 26px;
      margin-right: 8px;
      svg{  
        max-width: 100%;
        max-height: 100%;
      }
    }
    span {
      display: block;
      width: calc(100% - 33px);
      font-family: $font_main;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 26px;
    }
  }
}

@mixin nav1024 {
  .nav {
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: unset;
    align-items: unset;

    &__dropdown {

      &:hover {
        .nav__dropdown-content {
          max-height: 0;
          box-shadow: unset;
          top: unset;
          
        }
        .nav__dropdown-title{
          opacity: 1;
          span{
            transform: unset;
          }
        }
      }
      &.active{
        .nav__dropdown-content {
          width: 100%;
          max-height: 600px;
          box-shadow: unset;
          padding: 0; 
          opacity: 1;

          .nav__link{
            background: transparent;
          }
        }
        .nav__dropdown-title{
          opacity: 0.7;
          span{
            @include rotate180deg;
          }
        }
      }
 
      &-title {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding: 15px;
        line-height: 1;
      }
      &-content {
        position: unset;
        max-height: 0;
        overflow: hidden;
        background: transparent;
        @include transition;
      }
    }

    &__link {
      border: none;
      padding: 15px;
      display: block;
      text-align: left;
      width: unset;
      margin-right: 0;
      font-size: 16px;
      line-height: 1;
    }
  }
}

