.tab{
    display: none;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;

    &.active{
        display: block;
    }

    &__header{
        max-width: 1000px;
        margin-bottom: 75px;

        &-title{
            color: $text;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 120%;
            margin-bottom: 15px;
        }
        &-para{
            color: $text2;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }
    }
    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__column{
        &:nth-child(1){
            max-width: 668px;
            max-height: 385px;
            width: calc( (100vw - 60px) * 0.55 - 25px);
            height: calc( ( (100vw - 60px) * 0.55 - 25px) * .576 );
        }
        &:nth-child(2){
            width: calc(45% - 25px);
        }
        
        &-banner {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 1083px;
            max-height: 624px;
            margin: 0 auto 55px auto;
            border-radius: 40px;
            overflow: hidden;

            &::before {
                @include contentAbsolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.4);
                opacity: 1;
                @include transition;
                z-index: 1;
            }

            &.paused {
                &::before {
                    opacity: 0;
                }
            }

            video {
                @include fullImage;
                background: $bgcolor2;
            }

            video[poster] {
                @include fullImage;
                object-fit: fill;
            }

            .videoPlay {
                background: #fff;
                left: 50%;
                position: absolute;
                top: 50%;
                @include transform;
                width: 46px;
                height: 46px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                @include transition;
                z-index: 3;

                &::before {
                    z-index: -1;
                    width: 85px;
                    height: 85px;
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    @include transform;
                    background: rgba($color: #fff, $alpha: 0.3);
                    border-radius: 50%;
                }

                span {
                    margin-left: 3px;
                    border: 0;
                    background: transparent;
                    box-sizing: border-box;
                    width: 0;
                    height: 20px;
                    display: block;
                    border-color: transparent transparent transparent #397ef6;
                    transition: 100ms all ease;
                    pointer-events: none;
                    border-style: solid;
                    border-width: 10px 0 10px 20px;
                }

                &.paused {
                    opacity: 0;

                    span {
                        margin-left: 0;
                        border-style: double;
                        border-width: 0px 0 0px 15px;
                    }
                }
            }

        }
    }
}

@mixin tab1024{
    .tab{
        &__header{
            margin-bottom: 30px;
            &-title{
                font-size: 28px;
            }
            &-para{
                font-size: 16px;
            }
        }
        &__row{
            flex-direction: column;
        }
        &__column{
            &:nth-child(1){
                margin-bottom: 40px;
                width: calc( 100vw - 60px );
                height: calc( ( 100vw - 60px ) * .576 );
            }
            &:nth-child(2){
                width: 100%;
            }
            
            &-banner{
                border-radius: 30px;
            }
        }

    }
}
@mixin tab768{
    .tab{
        &__header{
            margin-bottom: 20px;
        }
        &-title{
            font-size: 24px;
        }
        &__column{
            &:nth-child(1){
                margin-bottom: 30px;
                width: calc( 100vw - 40px );
                height: calc( ( 100vw - 40px ) * .576 );
            }
            
            &-banner{
                border-radius: 25px;
            }
        }

    }
}

@mixin tab540{
    .tab{
        &__header{
            margin-bottom: 15px;
            &-title{
                font-size: 20px;
            }
            &-para{
                font-size: 14px;
                font-weight: 600;
            }
        }
        &__column{
            &:nth-child(1){
                margin-bottom: 25px;
            }
            &-banner{
                border-radius: 20px;
            }
        }

    }
}